/* app css stylesheet */

body {
  padding-top: 20px;
  background-color: lightgoldenrodyellow;
}

header,
footer {
  font-size: 22px;
  color: midnightblue;
}

.phone-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

.phones {
  list-style: none;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.phones__btn-buy-wrapper {
  align-items: center;
  float: right;
  height: 100%;
  display: flex;
  margin: 0 1em;
}

.phones li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

/** Detail View **/
img.phone {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

img.phone:first-child {
  display: block;
}


ul.phone-thumbs {
  margin: 0;
  list-style: none;
}

ul.phone-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.phone-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.phone-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}

.shopping-cart__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.shopping-cart__item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  padding: 7px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 12px;
}
.shopping-cart__img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.shopping-cart__img img {
  display: block;
  width: 100%;
}
.shopping-cart__name {
  flex: 1 0 30px;
}
.shopping-cart__amount {
  flex: 0 0 10px;
  text-align: center;
}
.shopping-cart__delete {
  position: absolute;
  top: 50%;
  right: -15px;
  width: 14px;
  height: 14px;
  font-size: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
  background-color: rgba(90, 0, 0, 0.7);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transform: translateY(-50%);
}